In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

NameError: name 'dates' is not defined

In [3]:
dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [4]:
df

                   A         B         C         D
2013-01-01  0.591392  0.681210 -0.367113  0.650836
2013-01-02 -0.194741  0.672399 -1.129631  0.861364
2013-01-03 -0.620293 -0.207921 -0.453476  0.736935
2013-01-04 -2.381284 -0.026702  0.553736 -0.682410
2013-01-05  0.397228  0.606224  0.483002  0.359190
2013-01-06  0.663859  0.676481 -0.064511 -0.110062

In [5]:
df["Cash"]= 90
df

                   A         B         C         D  Cash
2013-01-01  0.591392  0.681210 -0.367113  0.650836    90
2013-01-02 -0.194741  0.672399 -1.129631  0.861364    90
2013-01-03 -0.620293 -0.207921 -0.453476  0.736935    90
2013-01-04 -2.381284 -0.026702  0.553736 -0.682410    90
2013-01-05  0.397228  0.606224  0.483002  0.359190    90
2013-01-06  0.663859  0.676481 -0.064511 -0.110062    90

In [6]:
df = df * 2

In [7]:
df

                   A         B         C         D  Cash
2013-01-01  1.182784  1.362420 -0.734225  1.301672   180
2013-01-02 -0.389483  1.344798 -2.259263  1.722728   180
2013-01-03 -1.240586 -0.415843 -0.906951  1.473870   180
2013-01-04 -4.762569 -0.053403  1.107472 -1.364820   180
2013-01-05  0.794455  1.212447  0.966005  0.718379   180
2013-01-06  1.327718  1.352962 -0.129021 -0.220123   180

In [10]:
for date in dates:
    print date

2013-01-01 00:00:00
2013-01-02 00:00:00
2013-01-03 00:00:00
2013-01-04 00:00:00
2013-01-05 00:00:00
2013-01-06 00:00:00

In [11]:
df.where(df["A"] > 1.18)

TypeError: reindex() got an unexpected keyword argument "columns"

In [12]:
df[df<0]

                   A         B         C         D  Cash
2013-01-01       NaN       NaN -0.734225       NaN   NaN
2013-01-02 -0.389483       NaN -2.259263       NaN   NaN
2013-01-03 -1.240586 -0.415843 -0.906951       NaN   NaN
2013-01-04 -4.762569 -0.053403       NaN -1.364820   NaN
2013-01-05       NaN       NaN       NaN       NaN   NaN
2013-01-06       NaN       NaN -0.129021 -0.220123   NaN

In [36]:
singlerow = df[df.index == "2013-01-01"]

In [20]:
for row in df.values:
    print(row)

[   1.18278419    1.36242012   -0.73422546    1.30167155  180.        ]
[  -0.38948255    1.34479821   -2.25926284    1.7227279   180.        ]
[  -1.24058642   -0.41584263   -0.90695115    1.47387034  180.        ]
[ -4.76256863e+00  -5.34030231e-02   1.10747229e+00  -1.36481965e+00
   1.80000000e+02]
[   0.794455      1.21244735    0.96600466    0.71837905  180.        ]
[  1.32771795e+00   1.35296220e+00  -1.29021186e-01  -2.20123003e-01
   1.80000000e+02]

In [25]:
df["C"]

2013-01-01   -0.734225
2013-01-02   -2.259263
2013-01-03   -0.906951
2013-01-04    1.107472
2013-01-05    0.966005
2013-01-06   -0.129021
Freq: D, Name: C, dtype: float64

In [28]:
df

                   A         B         C         D  Cash
2013-01-01  1.182784  1.362420 -0.734225  1.301672   180
2013-01-02 -0.389483  1.344798 -2.259263  1.722728   180
2013-01-03 -1.240586 -0.415843 -0.906951  1.473870   180
2013-01-04 -4.762569 -0.053403  1.107472 -1.364820   180
2013-01-05  0.794455  1.212447  0.966005  0.718379   180
2013-01-06  1.327718  1.352962 -0.129021 -0.220123   180

In [31]:
df.ix['2013-01-01',"C"] =10

In [32]:
df

                   A         B          C         D  Cash
2013-01-01  1.182784  1.362420  10.000000  1.301672   180
2013-01-02 -0.389483  1.344798  -2.259263  1.722728   180
2013-01-03 -1.240586 -0.415843  -0.906951  1.473870   180
2013-01-04 -4.762569 -0.053403   1.107472 -1.364820   180
2013-01-05  0.794455  1.212447   0.966005  0.718379   180
2013-01-06  1.327718  1.352962  -0.129021 -0.220123   180

In [35]:
singlerow

NameError: name 'singlerow' is not defined

In [37]:
singlerow

                   A        B   C         D  Cash
2013-01-01  1.182784  1.36242  10  1.301672   180

In [50]:
singlerow["A"].values[0]

1.1827841891125634

In [45]:
singlerow["A"]*2

2013-01-01    2.365568
Freq: D, Name: A, dtype: float64

In [46]:
a

2013-01-01    2.365568
Freq: D, Name: A, dtype: float64