In [5]:
import pandas as pd
import numpy as np
import os

In [6]:
dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [7]:

df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2013-01-01 -0.776168  0.302754 -0.768346 -0.308268
2013-01-02  0.452637  1.867811 -0.743697 -1.668533
2013-01-03  2.611254 -0.414622 -0.012852  0.909677
2013-01-04  0.766967 -1.027073 -1.131269  0.131510
2013-01-05  0.086256 -0.792555  1.034635  0.749587
2013-01-06 -0.303831  1.340788 -1.154276 -0.541885

In [9]:
df["Cash"]= 90
df

                   A         B         C         D  Cash
2013-01-01 -0.776168  0.302754 -0.768346 -0.308268    90
2013-01-02  0.452637  1.867811 -0.743697 -1.668533    90
2013-01-03  2.611254 -0.414622 -0.012852  0.909677    90
2013-01-04  0.766967 -1.027073 -1.131269  0.131510    90
2013-01-05  0.086256 -0.792555  1.034635  0.749587    90
2013-01-06 -0.303831  1.340788 -1.154276 -0.541885    90

In [10]:
df = df * 2

In [11]:
df

                   A         B         C         D  Cash
2013-01-01 -1.552335  0.605508 -1.536693 -0.616535   180
2013-01-02  0.905274  3.735623 -1.487394 -3.337065   180
2013-01-03  5.222508 -0.829244 -0.025705  1.819355   180
2013-01-04  1.533934 -2.054147 -2.262538  0.263021   180
2013-01-05  0.172511 -1.585110  2.069269  1.499174   180
2013-01-06 -0.607662  2.681575 -2.308551 -1.083770   180

In [12]:
for date in dates:
    print date

2013-01-01 00:00:00
2013-01-02 00:00:00
2013-01-03 00:00:00
2013-01-04 00:00:00
2013-01-05 00:00:00
2013-01-06 00:00:00

In [13]:
df.where(df["A"] > 1.18)

TypeError: reindex() got an unexpected keyword argument "columns"

In [ ]:
df[df<0]

In [ ]:
singlerow = df[df.index == "2013-01-01"]

In [ ]:
for row in df.values:
    print(row)

In [ ]:
df["C"]

In [ ]:
df

In [ ]:
df.ix['2013-01-01',"C"] =10

In [ ]:
df

In [ ]:
singlerow

In [ ]:
singlerow

In [ ]:
singlerow["A"].values[0]

In [ ]:
singlerow["A"]*2

In [ ]:
a

In [ ]:
df.sum()

In [ ]:
df.sum(axis =1)

In [ ]:
df["Cash2"] = df.sum(axis =1)

In [ ]:
df

In [ ]:
df2 = pd.DataFrame(columns=list('ABCD'))

##

In [ ]:
df2

In [ ]:
df[["A","B"]]

In [14]:
df

                   A         B         C         D  Cash
2013-01-01 -1.552335  0.605508 -1.536693 -0.616535   180
2013-01-02  0.905274  3.735623 -1.487394 -3.337065   180
2013-01-03  5.222508 -0.829244 -0.025705  1.819355   180
2013-01-04  1.533934 -2.054147 -2.262538  0.263021   180
2013-01-05  0.172511 -1.585110  2.069269  1.499174   180
2013-01-06 -0.607662  2.681575 -2.308551 -1.083770   180

In [18]:
df.ix[1,"A"]

0.90527402279067559

In [19]:
range(1,5)

[1, 2, 3, 4]