In [1]:
import pandas as pd
import numpy as np
import os

In [11]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

NameError: name 'dates' is not defined

In [48]:
dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [49]:
df

                   A         B         C         D
2013-01-01  0.843837 -1.313135 -1.874419  0.125081
2013-01-02 -1.546709  0.956046  0.250513  1.136351
2013-01-03 -2.150729  0.501254 -0.097693 -0.888422
2013-01-04  1.025348 -1.574259 -0.739217 -0.615413
2013-01-05 -0.474750 -0.902720  0.961366  1.311902
2013-01-06  1.486764  0.680007 -0.295548 -1.032262

In [14]:
df["Cash"]= 90
df

                   A         B         C         D  Cash
2013-01-01 -0.581237 -0.885647  0.957839 -1.624560    90
2013-01-02 -0.178077 -0.117517  0.048976 -1.335070    90
2013-01-03  0.862381  1.232876  0.945125 -1.604784    90
2013-01-04  0.273347  1.101066  0.218121  1.972785    90
2013-01-05  1.203246  2.050918 -0.420555 -0.438444    90
2013-01-06 -1.414999  0.295398 -0.002178  0.128422    90

In [15]:
df = df * 2

In [16]:
df

                   A         B         C         D  Cash
2013-01-01 -1.162473 -1.771294  1.915678 -3.249120   180
2013-01-02 -0.356153 -0.235034  0.097952 -2.670141   180
2013-01-03  1.724761  2.465751  1.890251 -3.209568   180
2013-01-04  0.546694  2.202131  0.436243  3.945571   180
2013-01-05  2.406493  4.101835 -0.841111 -0.876888   180
2013-01-06 -2.829999  0.590795 -0.004357  0.256843   180

In [17]:
for date in dates:
    print date

2013-01-01 00:00:00
2013-01-02 00:00:00
2013-01-03 00:00:00
2013-01-04 00:00:00
2013-01-05 00:00:00
2013-01-06 00:00:00

In [18]:
df.where(df["A"] > 1.18)

TypeError: reindex() got an unexpected keyword argument "columns"

In [19]:
df[df<0]

                   A         B         C         D  Cash
2013-01-01 -1.162473 -1.771294       NaN -3.249120   NaN
2013-01-02 -0.356153 -0.235034       NaN -2.670141   NaN
2013-01-03       NaN       NaN       NaN -3.209568   NaN
2013-01-04       NaN       NaN       NaN       NaN   NaN
2013-01-05       NaN       NaN -0.841111 -0.876888   NaN
2013-01-06 -2.829999       NaN -0.004357       NaN   NaN

In [20]:
singlerow = df[df.index == "2013-01-01"]

In [21]:
for row in df.values:
    print(row)

[  -1.16247303   -1.771294      1.91567795   -3.24911961  180.        ]
[ -3.56153091e-01  -2.35034317e-01   9.79519772e-02  -2.67014083e+00
   1.80000000e+02]
[   1.72476109    2.46575124    1.89025069   -3.20956792  180.        ]
[   0.54669363    2.20213131    0.43624275    3.94557069  180.        ]
[   2.40649272    4.10183533   -0.84111098   -0.87688809  180.        ]
[ -2.82999882e+00   5.90795136e-01  -4.35690100e-03   2.56843445e-01
   1.80000000e+02]

In [22]:
df["C"]

2013-01-01    1.915678
2013-01-02    0.097952
2013-01-03    1.890251
2013-01-04    0.436243
2013-01-05   -0.841111
2013-01-06   -0.004357
Freq: D, Name: C, dtype: float64

In [23]:
df

                   A         B         C         D  Cash
2013-01-01 -1.162473 -1.771294  1.915678 -3.249120   180
2013-01-02 -0.356153 -0.235034  0.097952 -2.670141   180
2013-01-03  1.724761  2.465751  1.890251 -3.209568   180
2013-01-04  0.546694  2.202131  0.436243  3.945571   180
2013-01-05  2.406493  4.101835 -0.841111 -0.876888   180
2013-01-06 -2.829999  0.590795 -0.004357  0.256843   180

In [24]:
df.ix['2013-01-01',"C"] =10

In [25]:
df

                   A         B          C         D  Cash
2013-01-01 -1.162473 -1.771294  10.000000 -3.249120   180
2013-01-02 -0.356153 -0.235034   0.097952 -2.670141   180
2013-01-03  1.724761  2.465751   1.890251 -3.209568   180
2013-01-04  0.546694  2.202131   0.436243  3.945571   180
2013-01-05  2.406493  4.101835  -0.841111 -0.876888   180
2013-01-06 -2.829999  0.590795  -0.004357  0.256843   180

In [26]:
singlerow

                   A         B         C        D  Cash
2013-01-01 -1.162473 -1.771294  1.915678 -3.24912   180

In [27]:
singlerow

                   A         B         C        D  Cash
2013-01-01 -1.162473 -1.771294  1.915678 -3.24912   180

In [28]:
singlerow["A"].values[0]

-1.1624730327205963

In [29]:
singlerow["A"]*2

2013-01-01   -2.324946
Freq: D, Name: A, dtype: float64

In [30]:
singlerow

                   A         B         C        D  Cash
2013-01-01 -1.162473 -1.771294  1.915678 -3.24912   180

In [31]:
df

                   A         B          C         D  Cash
2013-01-01 -1.162473 -1.771294  10.000000 -3.249120   180
2013-01-02 -0.356153 -0.235034   0.097952 -2.670141   180
2013-01-03  1.724761  2.465751   1.890251 -3.209568   180
2013-01-04  0.546694  2.202131   0.436243  3.945571   180
2013-01-05  2.406493  4.101835  -0.841111 -0.876888   180
2013-01-06 -2.829999  0.590795  -0.004357  0.256843   180

In [32]:
df.ix["2013-01-01"] = [1,1,1,1,180]

In [33]:
df.ix["2013-01-01"]

A         1
B         1
C         1
D         1
Cash    180
Name: 2013-01-01 00:00:00, dtype: float64

In [34]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [35]:
dates[0]._date_repr

'2013-01-01'

In [36]:
singlerow

                   A         B         C        D  Cash
2013-01-01 -1.162473 -1.771294  1.915678 -3.24912   180

In [37]:
df.ix['2013-01-06']

A        -2.829999
B         0.590795
C        -0.004357
D         0.256843
Cash    180.000000
Name: 2013-01-06 00:00:00, dtype: float64

In [38]:
len(df.values)

6

In [39]:
df2 = pd.DataFrame(columns=list('ABCD'))

In [40]:
df2

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [41]:
df2.ix["2013-01-01"] = [1,1,1,1]

In [42]:
df2

            A  B  C  D
2013-01-01  1  1  1  1

In [43]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [44]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [45]:
df.ix[0:,2:4].sum(axis = 1)

2013-01-01    2.000000
2013-01-02   -2.572189
2013-01-03   -1.319317
2013-01-04    4.381813
2013-01-05   -1.717999
2013-01-06    0.252487
Freq: D, dtype: float64

In [46]:
df.ix["Cash2"] = df.ix[0:,2:4].sum(axis = 1)

In [50]:
df

                   A         B         C         D
2013-01-01  0.843837 -1.313135 -1.874419  0.125081
2013-01-02 -1.546709  0.956046  0.250513  1.136351
2013-01-03 -2.150729  0.501254 -0.097693 -0.888422
2013-01-04  1.025348 -1.574259 -0.739217 -0.615413
2013-01-05 -0.474750 -0.902720  0.961366  1.311902
2013-01-06  1.486764  0.680007 -0.295548 -1.032262

In [51]:
df.ix["2013-01-01","A"]

0.8438373517758686

In [52]:
df.type

AttributeError: 'DataFrame' object has no attribute 'type'

In [53]:
a = 100L

In [54]:
b = 100

In [55]:
a+b

200L

In [57]:
a -= b

In [58]:
a

0L

In [59]:
df

                   A         B         C         D
2013-01-01  0.843837 -1.313135 -1.874419  0.125081
2013-01-02 -1.546709  0.956046  0.250513  1.136351
2013-01-03 -2.150729  0.501254 -0.097693 -0.888422
2013-01-04  1.025348 -1.574259 -0.739217 -0.615413
2013-01-05 -0.474750 -0.902720  0.961366  1.311902
2013-01-06  1.486764  0.680007 -0.295548 -1.032262

In [64]:
df2 = df.ix[:,"A"]

In [65]:
df2

2013-01-01    0.843837
2013-01-02   -1.546709
2013-01-03   -2.150729
2013-01-04    1.025348
2013-01-05   -0.474750
2013-01-06    1.486764
Freq: D, Name: A, dtype: float64

In [66]:
df * df2

C:\Python27_x64\lib\site-packages\pandas\core\frame.py:3200: FutureWarning: TimeSeries broadcasting along DataFrame index by default is deprecated. Please use DataFrame.<op> to explicitly broadcast arithmetic operations along the index
  FutureWarning)

                   A         B         C         D
2013-01-01  0.712061 -1.108073 -1.581705  0.105548
2013-01-02  2.392309 -1.478725 -0.387470 -1.757605
2013-01-03  4.625634 -1.078062  0.210111  1.910754
2013-01-04  1.051339 -1.614164 -0.757955 -0.631013
2013-01-05  0.225388  0.428567 -0.456409 -0.622826
2013-01-06  2.210468  1.011010 -0.439410 -1.534730

In [67]:
df2 * df

                   A         B         C         D
2013-01-01  0.712061 -1.108073 -1.581705  0.105548
2013-01-02  2.392309 -1.478725 -0.387470 -1.757605
2013-01-03  4.625634 -1.078062  0.210111  1.910754
2013-01-04  1.051339 -1.614164 -0.757955 -0.631013
2013-01-05  0.225388  0.428567 -0.456409 -0.622826
2013-01-06  2.210468  1.011010 -0.439410 -1.534730

In [68]:
df["A"]

2013-01-01    0.843837
2013-01-02   -1.546709
2013-01-03   -2.150729
2013-01-04    1.025348
2013-01-05   -0.474750
2013-01-06    1.486764
Freq: D, Name: A, dtype: float64

In [74]:
df.ix["2013-01-01"] += df.ix["2013-01-02"]

In [75]:
df

                   A         B         C         D  2013-01-01
2013-01-01 -1.546709  0.956046  0.250513  1.136351           0
2013-01-02 -1.546709  0.956046  0.250513  1.136351           0
2013-01-03 -2.150729  0.501254 -0.097693 -0.888422           0
2013-01-04  1.025348 -1.574259 -0.739217 -0.615413           0
2013-01-05 -0.474750 -0.902720  0.961366  1.311902           0
2013-01-06  1.486764  0.680007 -0.295548 -1.032262           0