In [20]:
import pandas as pd
import numpy as np
import os

In [21]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

NameError: name 'dates' is not defined

In [22]:
dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [23]:
df

                   A         B         C         D
2013-01-01  0.694816 -0.500676  0.313013  1.320112
2013-01-02  1.291788  0.577722  0.892764  1.362849
2013-01-03 -0.056585  0.081026 -1.266407 -0.562143
2013-01-04  0.534330 -0.522536 -0.470141  0.146195
2013-01-05  0.367595  1.185046 -0.665369  0.682522
2013-01-06 -0.303577 -0.977579 -0.152417  0.037686

In [24]:
df["Cash"]= 90
df

                   A         B         C         D  Cash
2013-01-01  0.694816 -0.500676  0.313013  1.320112    90
2013-01-02  1.291788  0.577722  0.892764  1.362849    90
2013-01-03 -0.056585  0.081026 -1.266407 -0.562143    90
2013-01-04  0.534330 -0.522536 -0.470141  0.146195    90
2013-01-05  0.367595  1.185046 -0.665369  0.682522    90
2013-01-06 -0.303577 -0.977579 -0.152417  0.037686    90

In [25]:
df = df * 2

In [26]:
df

                   A         B         C         D  Cash
2013-01-01  1.389632 -1.001352  0.626026  2.640224   180
2013-01-02  2.583577  1.155443  1.785528  2.725699   180
2013-01-03 -0.113169  0.162053 -2.532815 -1.124285   180
2013-01-04  1.068660 -1.045072 -0.940283  0.292389   180
2013-01-05  0.735190  2.370093 -1.330738  1.365045   180
2013-01-06 -0.607153 -1.955157 -0.304834  0.075372   180

In [27]:
for date in dates:
    print date

2013-01-01 00:00:00
2013-01-02 00:00:00
2013-01-03 00:00:00
2013-01-04 00:00:00
2013-01-05 00:00:00
2013-01-06 00:00:00

In [28]:
df.where(df["A"] > 1.18)

TypeError: reindex() got an unexpected keyword argument "columns"

In [29]:
df[df<0]

                   A         B         C         D  Cash
2013-01-01       NaN -1.001352       NaN       NaN   NaN
2013-01-02       NaN       NaN       NaN       NaN   NaN
2013-01-03 -0.113169       NaN -2.532815 -1.124285   NaN
2013-01-04       NaN -1.045072 -0.940283       NaN   NaN
2013-01-05       NaN       NaN -1.330738       NaN   NaN
2013-01-06 -0.607153 -1.955157 -0.304834       NaN   NaN

In [30]:
singlerow = df[df.index == "2013-01-01"]

In [31]:
for row in df.values:
    print(row)

[   1.38963163   -1.00135231    0.62602586    2.64022433  180.        ]
[   2.58357673    1.15544345    1.78552762    2.725699    180.        ]
[ -1.13169275e-01   1.62052737e-01  -2.53281494e+00  -1.12428503e+00
   1.80000000e+02]
[   1.06866036   -1.04507222   -0.94028287    0.29238917  180.        ]
[   0.73519027    2.3700927    -1.33073846    1.36504458  180.        ]
[ -6.07153146e-01  -1.95515724e+00  -3.04834218e-01   7.53715472e-02
   1.80000000e+02]

In [32]:
df["C"]

2013-01-01    0.626026
2013-01-02    1.785528
2013-01-03   -2.532815
2013-01-04   -0.940283
2013-01-05   -1.330738
2013-01-06   -0.304834
Freq: D, Name: C, dtype: float64

In [33]:
df

                   A         B         C         D  Cash
2013-01-01  1.389632 -1.001352  0.626026  2.640224   180
2013-01-02  2.583577  1.155443  1.785528  2.725699   180
2013-01-03 -0.113169  0.162053 -2.532815 -1.124285   180
2013-01-04  1.068660 -1.045072 -0.940283  0.292389   180
2013-01-05  0.735190  2.370093 -1.330738  1.365045   180
2013-01-06 -0.607153 -1.955157 -0.304834  0.075372   180

In [34]:
df.ix['2013-01-01',"C"] =10

In [35]:
df

                   A         B          C         D  Cash
2013-01-01  1.389632 -1.001352  10.000000  2.640224   180
2013-01-02  2.583577  1.155443   1.785528  2.725699   180
2013-01-03 -0.113169  0.162053  -2.532815 -1.124285   180
2013-01-04  1.068660 -1.045072  -0.940283  0.292389   180
2013-01-05  0.735190  2.370093  -1.330738  1.365045   180
2013-01-06 -0.607153 -1.955157  -0.304834  0.075372   180

In [36]:
singlerow

                   A         B         C         D  Cash
2013-01-01  1.389632 -1.001352  0.626026  2.640224   180

In [37]:
singlerow

                   A         B         C         D  Cash
2013-01-01  1.389632 -1.001352  0.626026  2.640224   180

In [38]:
singlerow["A"].values[0]

1.3896316326336848

In [39]:
singlerow["A"]*2

2013-01-01    2.779263
Freq: D, Name: A, dtype: float64

In [40]:
a

NameError: name 'a' is not defined

In [41]:
df.sum()

A          5.056737
B         -0.313993
C          6.676857
D          5.974444
Cash    1080.000000
dtype: float64

In [42]:
df.sum(axis =1)

2013-01-01    193.028504
2013-01-02    188.250247
2013-01-03    176.391783
2013-01-04    179.375694
2013-01-05    183.139589
2013-01-06    177.208227
Freq: D, dtype: float64

In [44]:
df["Cash2"] = df.sum(axis =1)

In [45]:
df

                   A         B          C         D  Cash       Cash2
2013-01-01  1.389632 -1.001352  10.000000  2.640224   180  193.028504
2013-01-02  2.583577  1.155443   1.785528  2.725699   180  188.250247
2013-01-03 -0.113169  0.162053  -2.532815 -1.124285   180  176.391783
2013-01-04  1.068660 -1.045072  -0.940283  0.292389   180  179.375694
2013-01-05  0.735190  2.370093  -1.330738  1.365045   180  183.139589
2013-01-06 -0.607153 -1.955157  -0.304834  0.075372   180  177.208227

In [46]:
df2 = pd.DataFrame(columns=list('ABCD'))

##

In [47]:
df2

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [50]:
df[["A","B"]]

                   A         B
2013-01-01  1.389632 -1.001352
2013-01-02  2.583577  1.155443
2013-01-03 -0.113169  0.162053
2013-01-04  1.068660 -1.045072
2013-01-05  0.735190  2.370093
2013-01-06 -0.607153 -1.955157