In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [5]:
dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [6]:
df

                   A         B         C         D
2013-01-01  0.389756  0.989203 -0.576176  0.626845
2013-01-02 -0.544842  0.061909 -0.501065 -0.520143
2013-01-03  1.072648 -0.413952  1.297648 -0.144521
2013-01-04 -0.159494 -0.781936  1.532129 -0.250095
2013-01-05 -0.214201 -1.951641  1.225349  1.456951
2013-01-06  1.777092 -1.203736 -0.462488  0.916845

In [7]:
df["Cash"]= 90
df

                   A         B         C         D  Cash
2013-01-01  0.389756  0.989203 -0.576176  0.626845    90
2013-01-02 -0.544842  0.061909 -0.501065 -0.520143    90
2013-01-03  1.072648 -0.413952  1.297648 -0.144521    90
2013-01-04 -0.159494 -0.781936  1.532129 -0.250095    90
2013-01-05 -0.214201 -1.951641  1.225349  1.456951    90
2013-01-06  1.777092 -1.203736 -0.462488  0.916845    90

In [8]:
df = df * 2

In [9]:
df

                   A         B         C         D  Cash
2013-01-01  0.779512  1.978407 -1.152352  1.253690   180
2013-01-02 -1.089683  0.123819 -1.002130 -1.040286   180
2013-01-03  2.145296 -0.827903  2.595296 -0.289042   180
2013-01-04 -0.318988 -1.563871  3.064257 -0.500189   180
2013-01-05 -0.428403 -3.903282  2.450697  2.913903   180
2013-01-06  3.554184 -2.407472 -0.924976  1.833691   180

In [10]:
for date in dates:
    print date

2013-01-01 00:00:00
2013-01-02 00:00:00
2013-01-03 00:00:00
2013-01-04 00:00:00
2013-01-05 00:00:00
2013-01-06 00:00:00

In [11]:
df.where(df["A"] > .18)

TypeError: reindex() got an unexpected keyword argument "columns"

In [ ]:
df[df<0]

In [ ]:
singlerow = df[df.index == "2013-01-01"]

In [ ]:
for row in df.values:
    print(row)

In [ ]:
df["C"]

In [ ]:
df

In [ ]:
df.ix['2013-01-01',"C"] =10

In [ ]:
df

In [ ]:
singlerow

In [ ]:
singlerow

In [ ]:
singlerow["A"].values[0]

In [ ]:
singlerow["A"]*2

In [ ]:
singlerow

In [ ]:
df

In [ ]:
df.ix["2013-01-01"] = [1,1,1,1,180]

In [ ]:
df.ix["2013-01-01"]

In [ ]:
dates

In [ ]:
dates[0]._date_repr

In [ ]:
singlerow

In [ ]:
df.ix['2013-01-06']

In [ ]:
len(df.values)

In [ ]:
df2 = pd.DataFrame(columns=list('ABCD'))

In [ ]:
df2

In [ ]:
df2.ix["2013-01-01"] = [1,1,1,1]

In [ ]:
df2

In [ ]:
df.index

In [ ]:
dates

In [ ]:
df.ix[0:,2:4].sum(axis = 1)

In [ ]:
df.ix["Cash2"] = df.ix[0:,2:4].sum(axis = 1)

In [ ]:
df

In [ ]:
df.ix["2013-01-01","A"]

In [ ]:
df.type

In [ ]:
a = 100L

In [ ]:
b = 100

In [ ]:
a+b

In [ ]:
a -= b

In [ ]:
a

In [ ]:
df

In [ ]:
df2 = df.ix[:,"A"]

In [ ]:
df2

In [ ]:
df * df2

In [ ]:
df2 * df

In [ ]:
df["A"]

In [ ]:
df.ix["2013-01-01"] += df.ix["2013-01-02"]

In [ ]:
df

In [12]:
df

                   A         B         C         D  Cash
2013-01-01  0.779512  1.978407 -1.152352  1.253690   180
2013-01-02 -1.089683  0.123819 -1.002130 -1.040286   180
2013-01-03  2.145296 -0.827903  2.595296 -0.289042   180
2013-01-04 -0.318988 -1.563871  3.064257 -0.500189   180
2013-01-05 -0.428403 -3.903282  2.450697  2.913903   180
2013-01-06  3.554184 -2.407472 -0.924976  1.833691   180

In [13]:
df.ix['A']

KeyError: 'A'